html, body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

:root{
    --cor-base: #a15697;
}

a {
    text-decoration: none;
}

.container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.onda-topo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    fill: var(--cor-base);
    filter: brightness(1.2);
}

/* Menu ------------------------------------------------------- */
header {
    background-color: var(--cor-base);
    display: flex;
    font-weight: 600;
    font-size: 17px;
    height: 5.5em;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 0 30px;
    box-sizing: border-box;
    position: sticky;
    top: 0; 
    z-index: 1000;
    /* padding: 0 15%;  */
    transition: transform 0.3s ease-in-out;
    border-bottom: 4px solid wheat;
}

header ul {
    display: flex;
    list-style: none;
}

header ul li {
    position: relative;
    margin: 0 15px;
    transition: all 0.3s ease;
}

.link-logo {
    display: flex;
    align-items: center;
}

#logo img {
    width: 80px;
    height: auto;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

#menu {
    display: flex;
    list-style: none;
    gap: 10px; 
    padding: 0;
    margin: 0;
}

header a {
    position: relative;
    text-decoration: none; 
    padding: 15px;
    color: inherit;
}

header a:link,
header a:visited {
    color: white;
    padding: 10px;
}

header a::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    color: wheat;
    transform: translateX(-50%) scaleX(0);
    transform-origin: center;
    width: 100%;
    height: 3px;
    background-color: currentColor;
    transition: transform 0.3s ease;
}

header a:hover::after {
    transform: translateX(-50%) scaleX(1);
}

header a:active {
    color: wheat;
}

.link-logo:after{
    background-color: transparent;
    color: transparent;
}

#menu-btn{
    display: none;
}

/* Back to top -------------------------------------------------- */
.btt{
    background-color: var(--cor-base);
    width: 70px;
    height: 70px;
    border: 1px solid rgba(255, 255, 255, 0.336);
    border-radius: 100px;
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 20px;
    z-index: 10;
    opacity: 1; 
    transition: opacity 0.3s ease-in-out; 
}

.btt:hover{
    transform: scale(1.02);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
    opacity: 1 !important;
}

.btt i{
    height: 100%;
    width: 100%;
    display: flex;
    border: none;
    background-color: transparent;
    color: #fff;
    font-size: 2.7em;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}

/* Home ----------------------------------------------------- */
.hero {
    position: relative;
    height: 600px;
    background: none; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;     
}

.hero::before {
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background-image: url(../components/img/bg-home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    opacity: 0.4;
    z-index: 0;
}

.hero > * {
    position: relative;
    z-index: 1;
}

.hero h1{
    font-size: 40px;
}

.btn-home{
    color: white;
    display: flex;
    font-size: 24px;
    font-weight: 600;
    padding: 20px 30px;
    border-radius: 15px;
    box-sizing: border-box;
    left: 20%;
    background: var(--cor-base);
    cursor: pointer;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease-in-out;
    width: 250px;
    text-align: center;
}

.btn-home:hover{
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
    filter: brightness(1.1);
}

.conteudo-titulo{
    position: absolute;
    top: 22%;
    left: 15%;
    width: 35%;
    text-align: center;
    color: rgb(77, 77, 77);
    background-color: #eeeeee9d;
    padding: 30px;
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
}

.titulo{
    margin-left: auto;
    margin-right: auto;
    background-color: #111;
    color: white;
    letter-spacing: 1px;
    border-radius: 20px;
    padding: 20px;
    font-size: 22px;
    display:flex;
    width: 300px;
    justify-content: center;
}

.titulo:hover{
    transform: scale(1.1);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.titulo i{
    color: greenyellow;
    padding-right: 10px;
    font-size: 28px;
}

/* Sobre ------------------------------------ */
.sobre{
    color: #fff;
    background-color: var(--cor-base);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 50px 19%;
    box-sizing: border-box;
    position: relative;
}

.sobre h1::after {
    content: "";
    display: block;
    width: 230px; 
    height: 4px;
    background: wheat;
    margin: 12px auto 0 auto;
}

.sobre p{
    display: flex;
    text-align: justify;
    font-size: 19px;
    line-height: 1.4;
}

/* Serviços -------------------------------------- */
.servicos h1{
    font-size: 36px;
    margin: 10px;
}

.servicos h1::after {
    content: "";
    display: block;
    width: 160px; 
    height: 4px;
    background: var(--cor-base);
    margin: 12px auto 0 auto;
}

.servicos h2{
    margin: 10px;
    font-size: 22px;
}

.servicos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px 15%;
    box-sizing: border-box;
}

.servicos-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 35px;
    padding: 50px 3%;
}

.servicos-card{
    display: flex;
    border-radius: 15px;
    align-items: center;
    padding: 30px;
    width: 300px;
    height: 300px;
    gap: 20px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.servicos-card:hover{
    transform: scale(1.05);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.servicos-card-conteudo p{
    color: #8a8a8a;    
}

.servicos-card i{
    font-size: 65px;
    color: var(--cor-base);
}

.btn-servicos{
    color: rgb(255, 255, 255);
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    width: 350px;
    margin: 20px 0 0 0;
    padding: 30px 30px;
    border-radius: 15px;
    box-sizing: border-box;
    background: var(--cor-base);
    cursor: pointer;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease-in-out;
}

.btn-servicos:hover{
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
    filter: brightness(1.1);
}

/* Depoimentos ------------------------------- */
#depoimentos{
    background-color: var(--cor-base);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 35px;
    padding: 50px 3%;
    box-sizing: border-box;
    color: #fff;
    flex-wrap: nowrap;
    overflow: visible;
    position: relative;
}

.depoimento-header h1 {
    font-size: 36px;
    margin: 10px;
}

.depoimento-header h1::after {
    content: "";
    display: block;
    width: 230px; 
    height: 4px;
    background: wheat;
    margin: 12px auto 0 auto;
}

.relato{
    display: flex;
    background-color: #fff;
    width: 550px;
    height: 250px;
    border-radius: 80px;
    padding: 40px;
    box-sizing: border-box;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.relato p{
    font-size: 22px;
    line-height: 1.5;
    font-style: italic;
    color: #333;
}

.relato::after {
    content: "";
    position: absolute;
    left: 315px; 
    bottom: -15px; 
    width: 30px;
    height: 30px;
    background: white; 
    transform: rotate(45deg);
    z-index: 1;
}

.autor-depoimento{
    display: flex;
    gap: 20px;
    padding: 20px;    
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.autor-depoimento-imagem img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.autor-depoimento-nome{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.autor-depoimento-nome h3, .autor-depoimento-nome p{
    margin: 5px;
}

.swiper {
    width: 650px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-wrapper {
    position: relative;
    width: 100vw;
    margin: 0 auto;
    overflow: visible;
}

.swiper-button-prev,
.swiper-button-next {
    color: wheat !important;
    font-weight: bold;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    overflow: visible;
    display: flex;
    z-index: 15; 
}

.swiper-button-prev{
    left: 0;
}

.swiper-button-next{
    right: 0;
}

.swiper-pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-base);
    height: 50px;
    width: 100% !important;
}

.swiper-pagination-bullet {
    background-color: wheat !important;
}

.swiper-slide {
    width: 100%; 
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.swiper-slide-active{
    box-sizing: border-box;
    width: 100% !important;
    margin: 0 !important;
}

/* Botão Banner -----------------------------------------------*/
.banner {
    position: relative;
    height: 400px;
    background: none; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;     
}

.banner::before {
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background-image: url(../components/img/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    opacity: 0.4;
    z-index: 0;
}

.banner > * {
    position: relative;
    z-index: 1;
}

.banner h1, .banner p{
    margin: 10px;
}

.btn-banner{
    color: rgb(255, 255, 255);
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    width: 350px;
    margin: 20px 0 0 0;
    padding: 30px 30px;
    border-radius: 15px;
    box-sizing: border-box;
    background: var(--cor-base);
    cursor: pointer;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease-in-out;
}

.btn-banner:hover{
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
    filter: brightness(1.1);
}

/* Contato ------------------------------------ */
#contato{
    color: #fff;
    background-color: var(--cor-base);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 50px 15%;
    box-sizing: border-box;
    position: relative;
}

.contato-header h1 {
    font-size: 36px;
    margin: 10px;
}

.contato-header h1::after {
    content: "";
    display: block;
    width: 150px; 
    height: 4px;
    background: wheat;
    margin: 12px auto 0 auto;
}

.contato-wrapper{
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.contato-dados{
    width: 500px;
    height: 500px;
    background-color: white;
    border-radius: 20px;
    padding: 30px 30px 40px 45px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}

.contato-item{
    display: flex;
    align-items: center;
    gap: 40px;
}

.contato-item i{
    font-size: 56px;
    color: var(--cor-base);
}

.contato-item .icone{
    width: 68px;
    height: 68px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contato-txt{
    display: flex;
    flex-direction: column;
    align-items: start;
}

.contato-item p, .contato-item h3{
    margin: 5px 0;
}

.contato-item h3{
    font-size: 22px;
    color: rgb(83, 83, 83);
}

.contato-item p{
    font-size: 18px;
    color: #8a8a8a;
}

.contato-mapa{
    width: 700px;
    height: 500px;
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}

.contato-mapa iframe{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.redes-sociais{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0 30px 0;
    box-sizing: border-box;
}

.redes-sociais-header h1 {
    font-size: 36px;
    margin-bottom: 30px;
}

.redes-sociais-header h1::after {
    content: "";
    display: block;
    width: 240px; 
    height: 4px;
    background: wheat;
    margin: 12px auto 0 auto;
}

.redes-icones{
    display: flex; 
    gap: 50px;
    font-size: 40px;
    box-sizing: border-box;
}

.redes-icones i {
    color: rgb(255, 255, 255);
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    position: relative; 
}

.redes-icones i::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -15px; 
    transform: translateX(-50%) scaleX(0);
    transform-origin: center;
    width: 100%;
    height: 3px;
    background-color: wheat;
    transition: transform 0.2s ease-in-out;
}

.redes-icones i:hover::after {
    transform: translateX(-50%) scaleX(1);
}

/* Footer ----------------------------------------------------- */
footer {
    background-color: rgb(255, 255, 255);
    color: black;
    display: flex;
    font-weight: 600;
    justify-content: center;
    text-align: center;
    padding: 20px 0;
    font-size: 18px;
    height: 50px;
    border-top: 4px solid wheat;

}

.rodape{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Media query ------------------------------------------------ */
@media screen and (max-width: 576px) {

    #menu-btn {
        display: none;
        background: none;
        border: none;
        color: white;
        font-size: 1.8rem;
        cursor: pointer;
        position: relative; 
        z-index: 10;
        transition: color 0.3s ease;
        width: 50px; 
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #menu-btn :hover {
        color: #d3d3d3; 
    }

    #menu-btn::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 0;
        height: 0;
        background-color: rgba(148, 148, 148, 0.1); 
        border-radius: 50%;
        transform: translate(-50%, -50%);
        transition: width 0.3s ease, height 0.3s ease;
        z-index: -1;
    }

    #menu-btn:hover::before {
        width: 50px;
        height: 50px;
    }

    header ul {
        z-index: 11;
        flex-direction: column;
        position: absolute;
        top: 3.9em;
        right: 0;
        width: 100%;
        background-color: var(--cor-base);
        padding: 10px 0;
        opacity: 0;
        visibility: hidden;
        transform: translateY(-100%);
        transition: opacity 0.5s ease, transform 0.5s ease, visibility 0.5s;
    }

    header ul li {
        text-align: center;
        margin: 10px 0;
        padding: 10px;
    }

    header ul.show {
        z-index: 12;
        opacity: 1;
        visibility: visible;
        transform: translateX(0)
    }

    .conteudo-titulo{
        margin-bottom: 15px;
        width: 90% !important;
        left: 0;
        top: 0;
        position: relative;
    }

    .conteudo-titulo h1{
        font-size: 26px;
        padding: 0;
        margin: 0;
        margin-bottom: 25px;
    }

    .conteudo-titulo h3{
        padding: 0;
        margin: 0;
        font-size: 18px;
        font-weight: 500;
    }

    .btn-home{
        left: 0;
        font-size: 22px;
    }

    .sobre{
        padding: 30px 20px;
    }

    .servicos{
        padding: 30px 20px 30px 20px;
    }

    .servicos h2{
        font-size: 21px;
    }

    .servicos-card{
        width: 250px;
        height: 250px;
    }
    
    .btn-servicos{
        width: 90%;
        margin: 20px 0 0 0;
        font-size: 20px;
    }

    #depoimentos{
        padding: 50px 0;
    }

    .swiper {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .swiper-button-prev{
        left: -1px !important;
    }

    .swiper-button-next{
        right: -1px !important;
    }

    .relato{
        width: 290px;
        height: 320px;
        padding: 30px;
        border-radius: 40px;
    }

    .relato::after {
        left: 140px; 
    }

    .autor-depoimento{
        display: flex;
        padding: 20px 50px !important;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 50px;
    }

    .banner{
        padding: 20px;
    }

    .banner h1{
        font-size: 24px;
        text-align: center;
    }

    .banner p{
        font-size: 17px;
        text-align: center;
    }

    .btn-banner{
        font-size: 20px;
        font-weight: 600;
        width: 250px;
    }

    #contato{
        padding: 20px 0;
    }

    .contato-wrapper{
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        left: 10% !important;
    }

    .contato-header{
        margin-bottom: 15px;
    }

    .contato-dados{
        width: 92%;
        height: auto;
        padding: 20px;
        display: flex;
        position: relative;
        margin-left: auto;
        margin-right: auto;
    }

    .contato-txt{
        margin: 10px 0;
    }

    .contato-item{
        gap: 22px;
    }

    .contato-item h3{
        font-size: 19px;
        margin: 0;
    }

    .contato-item p{
        font-size: 14px;
        margin: 0;
    }

    .contato-item .icone{
        width: 42px !important;
        height: 42px !important;
    }

    .contato-item i{
        font-size: 40px !important;
        color: var(--cor-base);
    }

    .contato-mapa{
        width: 92%;
        height: 300px;
        margin-left: auto;
        margin-right: auto;
    }

    .redes-icones{
        display: flex; 
        gap: 50px;
        font-size: 32px;
        box-sizing: border-box;
    }

    footer{
        font-size: 14px;
        font-weight: 500;
    }

}